@media only screen and (max-width: 1500px){
	.header_content h1 {
	    width: 90%;
	    }
}

@media only screen and (max-width: 1258px){
	.header_content h1 {
	    width: 90%;
	    }
}

@media only screen and (max-width: 1117px){
	html{
		font-size: 61.5%;
	}
	header{
		height: 75vh;
	}
    .header_content h1 {
    	width: 92%;
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 1099px){
	html{
		font-size: 60.5%;
	}
	
}

@media only screen and (max-width: 1040px){
    .team_photo {
        width: 15rem;
        height: 15rem;
    }
}
@media only screen and (max-width: 1022px){
	.team_content p{
		padding: 1rem;
	}
}

@media only screen and (max-width:1000px){
	.testimonial{
		text-align: center;
	}
	.te_img{
		float: none;
		align-items: center;
	}

	.te_box{
		text-align: center;
		margin-top: 5rem;
	}

	.te_dec {
		text-align: center;
		margin-left: 0;
	}
	.te_dec p {
		margin: auto;
	}
	.te_names {
		margin: auto;
	}



}

@media only screen and (max-width: 942px){
	.span_1_of_4{
		width: 49.2%;
	}

	.littal_decription {
		width: 95%;
	}
	
	
}
@media (max-width: 920px) {
  nav .menu-btn{
	display: block;
	
  }
  #click:checked ~ .menu-btn svg:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgba(8, 8, 8, 0.678);
    height: 100vh;
    width: 100%;
    text-align: center;
	display: block;
	z-index: 999;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  
}

@media only screen and (max-width: 845px){
	footer ul li a{
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 800px){
	.primary_btn  {
		width: 25rem;
	}
}

@media only screen and (max-width: 700px){
	html{
		font-size: 58.4%;
	}
	h2 {
		width: 43rem;
	}
	.col.span_1_of_2{
		width: 100%;
		margin-left: 0;
	}

	.contect input[type="email"]{
	    margin-left: 0rem;
	}

	.header_content h1{
		width: 100%;
	}
}

@media only screen and (max-width: 500px){


	h2 {
		width: 35rem;
	}
	.logo{
		margin-left: .5rem;
	}
}

@media only screen and (max-width: 521px){
	.col.span_1_of_4{
		width: 100%;
	}
}

@media only screen and (max-width: 350px){
	h2{
		width: 33rem;
	}
	button.btn{
		padding: .4rem 1.5rem;
	}
}

@media only screen and (max-width: 300px){
	h2{
		width: 30rem;
	}

	.primary_btn{
		width: 16rem;
		font-size: 1rem;
	}	
}